@import "tailwindcss";

:root {
    /* Default Fallback (Black) */
    --primary: #000000;
    --primary-fg: #ffffff;
    background-color: #f3f4f6;
    /* Gray-100 */
}

@theme {
    /* If you strictly migrate to v4 CSS-first configuration, 
     you would define theme extensions here. 
     For now, your tailwind.config.js will still be respected 
     by the @tailwindcss/postcss plugin.
  */
}